<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post" action="/login">
            <input type="text" name="login" placeholder="login" />
            <input type="password" name="pass" placeholder="Hasło" />
            <input type="submit" value="Zaloguj"/>
            <a href="register">Rejestracja</a>
        </form>
    </body>
</html>