<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil</title>
  </head>
  <body>

    <form method="post" action="index.js">
      <input type="text" name="Name" disabled/>
      <input type="text" name="Surname" disabled/>
      <input type="text" name="BirthDate" disabled/>
      <textarea name="bio" disabled></textarea>
      <input type="text" name="BloodType" disabled>
    </form>
  </body>
</html>
