<!DOCTYPE html>
<html>
    <head>
        <title>Rejestracja</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post" action="/register">
            <input type="text" required name="imie" placeholder="Imie"/>
            <input type="text" required name="nazwisko" placeholder="nazwisko"/>
            <input type="email" required name="email" placeholder="email" />
            <input type="text" required name="login" placeholder="login" />
            <input type="password" required name="pass1" placeholder="Hasło" />
            <input type="password" required name="pass2" placeholder="Powtórz hasło" />
            <input type="submit" value="Zarejestruj się"/>
        </form>
        <a href="login">Logowanie</a>
    </body>
</html>