<!DOCTYPE html>
<html>
    <head>
        <title>Rejestracja</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post" action="/register">
            <input type="text" name="login" placeholder="login" />
            <input type="password" name="pass1" placeholder="Hasło" />
            <input type="password" name="pass2" placeholder="Powtórz hasło" />
            <input type="email" name="email" placeholder="email" />
            <select onclick="show()" id="sel" name = 'select'>
                <option>Obywatel</option>
                <option>Rząd</option>
            </select>
            <input type="password" id="klucz" name="klucz" style="display:none;" placeholder="klucz" />
            <input type="submit" value="Zarejestruj się"/>
        </form>
        <script>
            function show() {
                if (document.getElementById('sel').value == 'Rząd') {
                    document.getElementById('klucz').style.display = 'block';
                } else {
                    document.getElementById('klucz').style.display = 'none';
                }
            }
        </script>
    </body>
</html>